
/* ------------------------ */
/* --- SIMPLE SELECTORS --- */
/* ------------------------ */

/* Universal Selector */
*{
  border: #00ff00 solid 1px;
  padding: 20px;
}

/* Element Selector */
p {
  color: #0000ff;
}

/* ID Selector */
#paragraphs{
  color: #ffffff;
}

/* Class Selector */
.paragraphs{
  color: #ff0000;
}

/* Group Selector */
h1, h2, p{
  text-align: center;
}

/* Attribute Selector */
[title~=flower] {
    border: 5px solid #ff00ff;
}

/* ------------------------ */
/* -- COMBINED SELECTORS -- */
/* ------------------------ */

/* Descendant Selector */
div p{
  text-shadow: 2px 2px #fff000;
}

/* Child Selector */
div > p {
    background-color: #000000;
}

/* Adjacent Sibling Selector */
div + p {
    background-color: #009000;
}

/* General Sibling Selector */
div ~ p {
    background-color: #900000;
}

h3 {
  background-image: url("images/pattern1.jpg");
  font-family: "Lucida Console", Monaco, monospace;
	display: inline;
	position: relative;
	font-size: 100px;
	letter-spacing: -5px;
	color: rgba(87, 12, 156 ,0.6);
}

h3:after {
  display: inline;
	content: "[text stylized]";
	position: absolute; left: 25px; top: 25px;
	color: rgba(241, 38, 74,0.5);
}

.text1{
  color: #c83737;
  font-family: 'Monoton', cursive;
}

.text2{
  color: #ff6600;
  font-family: 'Special Elite', cursive;
}

.text3{
  color: #00aa88;
  font-family: 'Homemade Apple', cursive;
}

.text4{
  color: #800080;
  font-family: 'VT323', monospace;
}
